html, body,.main{
    width: 100%;
    height: 100%;
    background: #EEE;
    overflow: hidden;
}
html {
    font-size: 100px;
}
.main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container, .swiper-wrapper, .swiper-slide {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
}
.swiper-slide img {
    position: absolute;
    opacity: 0;
}
.slide1 {
    background: url("../img/bag1.png") no-repeat;
    background-size: 100% 100%;
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio: 2) {
    .slide1 img:nth-of-type(1){
        right: .85rem;
        top: 2.1rem;
    }
    .slide1 img:nth-of-type(2){
        width: 4.37rem;
        height: 0.02rem;
        left: 1.03rem;
        top: 8rem;
    }
    .slide1 img:nth-of-type(3){
        width: 4.22rem;
        height: 0.28rem;
        left: 1.11rem;
        top: 8.2rem;
    }
    .slide1 img:nth-of-type(4){
        width: 4.37rem;
        height: 0.02rem;
        left: 1.03rem;
        top: 8.65rem;
    }
    .slide1 img:nth-of-type(5){
        left: 2.9rem;
        bottom: 1.2rem;
    }
    .slide1 img:nth-of-type(6){
        width: 4rem;
        right: 1rem;
        top: 4.1rem;
    }

    .slide2 img:nth-of-type(1) {
        width: 6.4rem;
        height: 2.6rem;
    }
    .slide2 img:nth-of-type(2){
        width: 6.61rem;
        height: 2.58rem;
        left: 0;
        top: 9.2rem;
    }
    .slide2 img:nth-of-type(3) {
        width: 2.91rem;
        height: 0.4rem;
        left: .5rem;
        top: 0.6rem;
    }
    .slide2 img:nth-of-type(4){
        width: 1.96rem;
        height: 1.96rem;
        left: 0.5rem;
        top: 3.25rem;
    }
    .slide2 img:nth-of-type(5){
        width: 1.75rem;
        height: 1.75rem;
        left: 0.58rem;
        top: 3.28rem;
        border-radius: 50%;
    }
    .slide2 img:nth-of-type(6){
        width: 5.7rem;
        left: .5rem;
        top: 3.35rem;
    }
    .slide2 img:nth-of-type(7){
        width: 5.7rem;
        left: .5rem;
        top: 3.35rem;
    }
    .slide2 img:nth-of-type(8){
        left: 2.9rem;
        bottom: 1.2rem;
    }

    .slide3 img:nth-of-type(1) {
        width: 3.8rem;
        height: 11.4rem;
        left: 3.1rem;
    }
    .slide3 img:nth-of-type(2) {
        width: .73rem;
        left: 0.7rem;
        top: 4.2rem;
    }
    .slide3 img:nth-of-type(3) {
        width: .73rem;
        left: 0.7rem;
        top: 5.4rem;
    }
    .slide3 img:nth-of-type(4) {
        width: .73rem;
        left: 0.7rem;
        top: 6.6rem;
    }
    .slide3 img:nth-of-type(5) {
        width: .73rem;
        left: 0.7rem;
        top: 7.8rem;
    }
    .slide3 img:nth-of-type(6) {
        left: 1.8rem;
        width: 4rem;
        top: 4.33rem;
    }
    .slide3 img:nth-of-type(7) {
        left: 1.8rem;
        width: 4rem;
        top: 5.55rem;
    }
    .slide3 img:nth-of-type(8) {
        left: 1.8rem;
        width: 4rem;
        top: 7.95rem;
    }
    .slide3 img:nth-of-type(9) {
        left: 1.8rem;
        width: 4rem;
        top: 6.75rem;
    }
    .slide3 img:nth-of-type(10) {
        left: 2.9rem;
        bottom: 1.2rem;
    }

    .slide4 img:nth-of-type(1) {
        width: 4rem;
        left: 1.14rem;
        top: 1.6rem;
    }
    .slide4 img:nth-of-type(2) {
        width: 4rem;
        left: 1.1rem;
        top: 0.8rem;
    }
    .slide4 img:nth-of-type(3) {
        height: 9rem;
        left: 3.15rem;
        top: 3.2rem;
        width: 0.1rem;
    }
    .slide4 img:nth-of-type(4) {
        width: 2.7rem;
        left: 3.5rem;
        top: 3.8rem;
    }
    .slide4 img:nth-of-type(5) {
        width: 2.7rem;
        left: 0.25rem;
        top: 5.65rem;
    }
    .slide4 img:nth-of-type(6) {
        width: 2.7rem;
        left: 3.6rem;
        top: 7rem;
    }
    .slide4 img:nth-of-type(7) {
        width: 2rem;
        left: 3.83rem;
        top: 4.16rem;
    }
    .slide4 img:nth-of-type(8) {
        width: 2rem;
        left: 0.6rem;
        top: 6rem;
    }
    .slide4 img:nth-of-type(9) {
        width: 2rem;
        height: 2.1rem;
        left: 3.85rem;
        top: 7.4rem;
    }
    .slide4 img:nth-of-type(10) {
        left: 2.9rem;
        bottom: 0.7rem;
    }

    .slide5 img:nth-of-type(1){
        width: 2.7rem;
        height: 2.7rem;
        left: 1.8rem;
        top: 1.3rem;
    }
    .slide5 img:nth-of-type(2){
        width: 2.3rem;
        height: 2.3rem;
        left: 2rem;
        top: 1.4rem;
        border-radius: 50%;
    }
    .slide5 img:nth-of-type(3){
        left: 2.22rem;
        top: 4.4rem;
    }
    .slide5 img:nth-of-type(4){
        left: 1.05rem;
        top: 8.4rem;
    }
    .slide5 img:nth-of-type(5){
        left: 0.35rem;
        top: 9.5rem;
    }

}

@media screen and (min-width: 320px) and (max-device-height:567px) {
    .slide1 img:nth-of-type(1){
        right: 1.3rem;
        top: 1rem;
        width: 4rem;
    }
    .slide1 img:nth-of-type(2){
        width: 4.37rem;
        height: 0.02rem;
        left: 1.03rem;
        top: 6.2rem;
    }
    .slide1 img:nth-of-type(3){
        width: 4.22rem;
        height: 0.28rem;
        left: 1.11rem;
        top: 6.4rem;
    }
    .slide1 img:nth-of-type(4){
        width: 4.37rem;
        height: 0.02rem;
        left: 1.03rem;
        top: 6.85rem;
    }
    .slide1 img:nth-of-type(5){
        left: 2.9rem;
        bottom: 1.2rem;
    }
    .slide1 img:nth-of-type(6){
        width: 4rem;
        right: 1.2rem;
        top: 2.75rem;
    }

    .slide2 img:nth-of-type(1) {
        width: 6.4rem;
        height: 2rem;
    }
    .slide2 img:nth-of-type(2){
        width: 6.61rem;
        top: 8rem;
    }
    .slide2 img:nth-of-type(3) {
        width: 2.91rem;
        height: 0.4rem;
        left: .5rem;
        top: 0.45rem;
    }
    .slide2 img:nth-of-type(4){
        width: 1.96rem;
        height: 1.96rem;
        left: 0.5rem;
        top: 2.7rem;
    }
    .slide2 img:nth-of-type(5){
        width: 1.75rem;
        height: 1.75rem;
        left: 0.58rem;
        top: 2.7rem;
        border-radius: 50%;
    }
    .slide2 img:nth-of-type(6){
        width: 5.7rem;
        left: .5rem;
        top: 2.75rem;
    }
    .slide2 img:nth-of-type(7){
        width: 5.7rem;
        left: .5rem;
        top: 2.78rem;
    }
    .slide2 img:nth-of-type(8){
        left: 2.9rem;
        bottom: 0.9rem;
    }

    .slide3 img:nth-of-type(1) {
        width: 3.3rem;
        height: 9.6rem;
        left: 3.1rem;
    }
    .slide3 img:nth-of-type(2) {
        width: .73rem;
        left: 0.7rem;
        top: 3.6rem;
    }
    .slide3 img:nth-of-type(3) {
        width: .73rem;
        left: 0.7rem;
        top: 4.8rem;
    }
    .slide3 img:nth-of-type(4) {
        width: .73rem;
        left: 0.7rem;
        top: 6rem;
    }
    .slide3 img:nth-of-type(5) {
        width: .73rem;
        left: 0.7rem;
        top: 7.2rem;
    }
    .slide3 img:nth-of-type(6) {
        left: 1.8rem;
        width: 4rem;
        top: 3.73rem;
    }
    .slide3 img:nth-of-type(7) {
        left: 1.8rem;
        width: 4rem;
        top: 4.95rem;
    }
    .slide3 img:nth-of-type(8) {
        left: 1.8rem;
        width: 4rem;
        top: 7.4rem;
    }
    .slide3 img:nth-of-type(9) {
        left: 1.8rem;
        width: 4rem;
        top: 6.15rem;
    }
    .slide3 img:nth-of-type(10) {
        left: 2.9rem;
        bottom: 0.7rem;
    }

    .slide4 img:nth-of-type(1) {
        width: 3rem;
        left: 1.65rem;
        top: 1.4rem;
    }
    .slide4 img:nth-of-type(2) {
        width: 3rem;
        left: 1.7rem;
        top: 0.8rem;
    }
    .slide4 img:nth-of-type(3) {
        height: 7.1rem;
        left: 3.15rem;
        top: 2.55rem;
        width: 0.1rem;
    }
    .slide4 img:nth-of-type(4) {
        width: 2.5rem;
        left: 3.6rem;
        top: 2.9rem;
    }
    .slide4 img:nth-of-type(5) {
        width: 2.5rem;
        left: 0.35rem;
        top: 4.4rem;
    }
    .slide4 img:nth-of-type(6) {
        width: 2.5rem;
        left: 3.6rem;
        top: 5.9rem;
    }
    .slide4 img:nth-of-type(7) {
        width: 2rem;
        height: 2.1rem;
        left: 3.85rem;
        top: 3.2rem;
    }
    .slide4 img:nth-of-type(8) {
        width: 1.7rem;
        height: 2rem;
        left: 0.7rem;
        top: 4.75rem;
    }
    .slide4 img:nth-of-type(9) {
        width: 2rem;
        height: 2.1rem;
        left: 3.85rem;
        top: 6.2rem;
    }
    .slide4 img:nth-of-type(10) {
        left: 2.9rem;
        bottom: 0.7rem;
    }

    .slide5 img:nth-of-type(1){
        width: 2.7rem;
        height: 2.7rem;
        left: 1.8rem;
        top: 1.3rem;
    }
    .slide5 img:nth-of-type(2){
        width: 2.3rem;
        height: 2.3rem;
        left: 2rem;
        top: 1.4rem;
        border-radius: 50%;
    }
    .slide5 img:nth-of-type(3){
        left: 2.22rem;
        top: 4.4rem;
    }
    .slide5 img:nth-of-type(4){
        left: 1.05rem;
        top: 7rem;
    }
    .slide5 img:nth-of-type(5){
        left: 0.35rem;
        top: 8.1rem;
    }
}

#page1 img{
    opacity: 1;
}
#page1 img:nth-child(1){
    -webkit-animation: rotateIn 1s 1 0.1s both;
    animation: rotateIn 1s 1 0.1s both;
}
#page1 img:nth-child(6){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page1 img:nth-child(3){
    -webkit-animation: zoomIn 1s 1 0.7s  both;
    animation: zoomIn 1s 1 0.7s  both;
}
#page1 img:nth-child(2){
    -webkit-animation: zoomInRight 1s 1 0.7s  both;
    animation: zoomInRight 1s 1 0.7s  both;
}
#page1 img:nth-child(4){
    -webkit-animation: zoomInLeft 1s 1 0.7s  both;
    animation: zoomInLeft 1s 1 0.7s  both;
}
#page1 img:nth-child(5){
    -webkit-animation: bounceInUp 2s 1 0.7s both;
    animation: bounceInUp 2s 1 0.7s both;
}
.slide2 {
    background: url("../img/bag_2.png") no-repeat;
    background-size: 100% 100%;
}

#page2 img{
    opacity: 1;
}
#page2 img:nth-child(1){
    -webkit-animation: bounceInLeft 1s 1 both;
    animation: bounceInLeft 1s 1 both;
}
#page2 img:nth-child(2){
    -webkit-animation: bounceInRight 1s 1 0.2s both;
    animation: bounceInRight 1s 1 0.2s both;
}
#page2 img:nth-child(3){
    -webkit-animation: rotateInDownLeft 1s 1 0.4s both;
    animation: rotateInDownLeft 1s 1 0.4s both;
}
#page2 img:nth-child(4){
    -webkit-animation: bounceInLeft 1.3s 1 0.7s both;
    animation: bounceInLeft 1.3s 1 0.7s both;
}
#page2 img:nth-child(5){
    -webkit-animation: bounceInRight 1.3s 1 0.9s both;
    animation: bounceInRight 1.3s 1 0.9s both;
}
#page2 img:nth-child(6){
    -webkit-animation: fadeInUp 1.2s 1 1s both;
    animation: fadeInUp 1.2s 1 1s both;
}
#page2 img:nth-child(7){
    -webkit-animation: zoomIn 1.2s 1 1s both;
    animation: zoomIn 1.2s 1 1s both;
}
#page2 img:nth-child(8){
    -webkit-animation: bounceInUp 2s 1 1.1s both;
    animation: bounceInUp 2s 1 1.1s both;
}
.slide3 {
    background: url("../img/bg_2.png") no-repeat;
    background-size: 100% 100%;
}

#page3 img{
    opacity: 1;
}
#page3 img:nth-child(1){
    -webkit-animation: slideInRight 1s 1 both;
    animation: slideInRight 1s 1 both;
}
#page3 img:nth-child(2){
    -webkit-animation: fadeInDown 1s 1 0.5s both;
    animation: fadeInDown 1s 1 0.5s both;
}
#page3 img:nth-child(3){
    -webkit-animation: fadeInDown 1.3s 1 0.5s both;
    animation: fadeInDown 1.3s 1 0.5s both;
}
#page3 img:nth-child(4){
    -webkit-animation: fadeInDown 1.4s 1 0.5s both;
    animation: fadeInDown 1.4s 1 0.5s both;
}
#page3 img:nth-child(5){
    -webkit-animation: fadeInDown 1.7s 1 0.5s both;
    animation: fadeInDown 1.7s 1 0.5s both;
}
#page3 img:nth-child(6){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page3 img:nth-child(7){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page3 img:nth-child(8){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page3 img:nth-child(9){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page3 img:nth-child(10){
    -webkit-animation: bounceInUp 1.6s 1 0.5s both;
    animation: bounceInUp 1.6s 1 0.5s both;
}

.slide4 {
    background: url("../img/bag1.png") no-repeat;
    background-size: 100% 100%;
}

#page4 img{
    opacity: 1;
}
#page4 img:nth-child(1){
    -webkit-animation: slideInUp 1s 1 both;
    animation: slideInUp 1s 1 both;
}
#page4 img:nth-child(2){
    -webkit-animation: slideInDown 1s 1 both;
    animation: slideInDown 1s 1 both;
}
#page4 img:nth-child(3){
    -webkit-animation: fadeInUp 0.5s 1 both;
    animation: fadeInUp 0.5s 1 both;
}
#page4 img:nth-child(4){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page4 img:nth-child(5){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}
#page4 img:nth-child(6){
    -webkit-animation: zoomIn 1s 1 0.5s both;
    animation: zoomIn 1s 1 0.5s both;
}

#page4 img:nth-child(7){
    -webkit-animation: zoomIn 1s 1 0.8s both;
    animation: zoomIn 1s 1 0.8s both;
}
#page4 img:nth-child(8){
    -webkit-animation: zoomIn 1s 1 0.8s both;
    animation: zoomIn 1s 1 0.8s both;
}
#page4 img:nth-child(9){
    -webkit-animation: zoomIn 1s 1 0.8s both;
    animation: zoomIn 1s 1 0.8s both;
}
#page4 img:nth-child(10){
    -webkit-animation: bounceInUp 2s 1 0.7s both;
    animation: bounceInUp 2s 1 0.7s both;
}

.slide5 {
    background: url("../img/bg_2.png") no-repeat;
    background-size: 100% 100%;
}
#page5 img{
    opacity: 1;
}
#page5 img:nth-child(1){
    -webkit-animation: fadeIn 1s 1 0.2s both;
    animation: fadeIn 1s 1 0.2s both;
}
#page5 img:nth-child(2){
    -webkit-animation: fadeIn 1.2s 1 0.5s both;
    animation: fadeIn 1.2s 1 0.5s both;
}
#page5 img:nth-child(3){
    -webkit-animation: fadeIn 1.3s 1 0.7s both;
    animation: fadeIn 1.3s 1 0.7s both;
}
#page5 img:nth-child(4){
    -webkit-animation: fadeIn 1.6s 1 0.9s both;
    animation: fadeIn 1.6s 1 0.9s both;
}
#page5 img:nth-child(5){
    -webkit-animation: fadeIn 1.7s 1 1.1s both;
    animation: fadeIn 1.7s 1 1.1s both;
}

.music{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    z-index: 1111;
    background: url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.musicMove {
    -webkit-animation: move 1s infinite linear both;
    animation:move 1s infinite linear both;
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}